* {
    font-family: 'Nunito Sans';
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    padding: 3px;
    background-color: #fff;
  }
    
  .game-container {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
  }
    
  header {
    display: flex;
    justify-content: center
  }

  .rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .round-label {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
  }
  
  .choice {
    min-width: 303px;
    height: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px;
  }

  .game-area {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 60px;
  }

  .choice-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  .choice-label {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  .score-label {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

  .computer-choice {
    border: 1px solid #979797;
    background-color: #aec4ff;
  }

  #blank-choice {
    font-size: 50px;
    font-weight: 700;
    color: #a5a5a5;
  }
  
  .human-choice {
    border: 1px solid #979797;
    background-color: #aec4aa;
  }

  #human-choice {
    font-size: 50px;
    font-weight: 700;
    color: #a5a5a5;
  }
  img {
      max-height: 40px;
  }

  .choice button {
    height: 80px;
    width: 80px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
  }
  #c_default {
      display: block;
  }

  #c_rock, 
  #c_paper, 
  #c_scissors {
    display: none;
    height: 180px;
    width: 180px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    font-size: 20px;
    border-radius: 50%;

  }

  .c-choice-default {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    font-size: 100px;
    border-radius: 50%;
  }


  #next-round {
    width: 179px;
    height: 64px;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .button[disabled] {
    background-color: #d2d2d2;
    color: #a0a0a0;
    cursor: default;
  }

  .instructions {
    background-color: #ececec;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .instruction {
    width: 180px;
    padding: 2px;
    text-align: center;
  }

  .instructions h3 {
    font-size: 14px;
  }

  .winning-text, .winning-text[disabled] {
    color: #ec3636;
    font-weight: 700;
  }